apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kvstore
spec:
  type: state.redis
  version: v1
  metadata:
    - name: redisHost
      value: redis-master.redis.svc.cluster.local:6379
    - name: redisPassword
      value: "<YOUR_HELM_PASSWORD>" # Update me with the Helm password
auth:
  secretStore: kubernetes